<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>File uploader</title>
   <link rel="stylesheet" href="style/style.css">
</head>

<body>
   <form action="/upload" enctype="multipart/form-data" method="post">
      <h1>Wgraj plik</h1>
      <div>
         <label>
            <p>Tytuł pliku</p>
            <input type="text" name="title">
         </label>
      </div>
      <div>
         <input type="file" name="upload" multiple="multiple">
      </div>
      <div>
         <input type="submit" value="Wyślij">
      </div>
   </form>
</body>

</html>