* {
   box-sizing: border-box;
   font-family: Calibri;
   text-align: center;
}

body {
   display: grid;
   justify-content: center;
   align-items: center;
   grid-gap: 1px;
   ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style-type: none;
      padding: 1px;
      li {
         padding: 20px;
         border: 1px solid #0084FF;
         img {
            height: 300px;
         }
      }
   }
}